$background-color: radial-gradient(circle at 50% 50%, #39395c 0%, #39395c 100%);
$button-orange: #e44f2e;
$primary-text: white;
$secondary-text: #E1ACA0;
$tertiary-text:#E6E6F0;
$horizontal-padding: 294px;
$mobile-horizontal-padding: 10%;

